!/models/crop-delete-test.py
!/models/practice2.py
!/models/practiceeee.py
!/checker.py
!/models/
!/pdftoImage/
!/Preprocessing/
!/prompt_templates/
!/tests/
!/annotation.json
!/extraction_results.json
!/qwen_model.py
!/results.json
!/results.md
!/SCHEMA.md
!/test_db.py
!/truth.json
!/util.py
!/markdown_exports/
.env